<!DOCTYPE html>
<html lang="ru" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>parsim</title>
  </head>
  <body>
    <% include partials/nav/ejs %>
    <h1>Contact Us!</h1>

    <p><%= qs.dept %> </p>
  </body>
</html>
